<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stackPhotos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D9D8D941E720C130088FD7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D9D8DA81E720C150088FD7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D9D8DB31E720C150088FD7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
